
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container.dark {
    background-color: #1f2937;
    padding: 10px 0 100px 0;
}

.container.footer {
    background-color: #1f2937;
    padding: 10px 0 10px 0;
    color: #e5e7eb8c;
    font-size: 18px;
}

.container.white {
    background-color: white;
    padding: 50px 0 50px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.navbar.link {
    text-decoration: none;
    min-width: fit-content;
    max-width: fit-content;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 0 24px;
}

.navbar.nav{
    display: flex;
    justify-content: flex-end;
}

.navbar.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hero.header {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    padding-bottom:16px;
}

.hero.text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom:16px;
}

.hero.img {
    padding: 40px 100px 40px 100px;
    background-color: grey;
    flex: 1;
    color: #e5e7eb;
    align-self: stretch;
    text-align: center;
}

.hero.content {
    flex: 1;
    margin-right: 24px;
}

button.hero {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
}

button:hover{
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    cursor: pointer;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content.header {
    font-size: 36px;
    color: #1E2937;
    font-weight: 900;
    text-align: center;
    padding: 20px 0 50px 0;
    width: 100%;
}

.main-content.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.card{
    width: 100px;
}
.card-item {
    width: 100%;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card-text {
    text-align: center;
    color: #1F2937;
}

.container.quote {
    background-color: #E5E7EB;
    padding: 100px 0 100px 0;
}

.the-quote {
    width: 70%;
    display: flex row;
}

.quote.text{
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.quote.author {
    font-weight: 900;
    justify-self: end;
}

.call-to-action {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
}

.container .call-to-action-content .title {
    font-weight: 900;
}

button.call-to-action {
    background-color: #3882f6;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
}
